.small-logo
{
    margin-top: 15px;
}
#header .btn-registration
{
    color: #444;
}
#header .container
{
    
}
#header a
{
    color: #fff;
}
#header ul:not(.nav) > li > a.menu-item
{
    border-top: 3px solid transparent;
}
#header ul:not(.nav) > li > a.menu-item:hover
{
    border-top: 3px solid #f5dc08;
}
#plus-index .index-banner
{
    padding-top: 80px;
    background: url('../Images/bizweb-plus/bg-plus-header.jpg') no-repeat top center;
}
#plus-index .index-banner h1
{
    font-size: 80px;
    font-family: 'Times New Roman';
    color: #fff;
    margin-top: 50px;
}
#plus-index .index-banner h1 span
{
    font-family: "Roboto";
    font-weight: bold;
    color: #fbe106;
}
#plus-index .index-banner h3
{
    margin-top: 0;
    font-weight: 300;
    color: #fff;    
    font-size: 40px;
}
#plus-index .index-banner h3 span
{
    display: block;
    font-size: 24px;
    text-transform: none;
    letter-spacing: 0.1em;
    margin-top: 15px;
    margin-bottom: 60px;
}
.plus-reason
{
   background: url(../Images/bizweb-plus/bg-plus-reason.png) center center;
   padding-bottom: 20px;
}
.plus-reason h3
{
    font-size: 48px;
    font-weight: bold;
    color: #444;
    margin: 30px 0 20px;
}
.plus-reason h3 span
{
    display: block;
    font-weight: 300;
    font-size: 30px;
    margin-top: 10px;
}
.plus-reason p
{
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 20px;
    font-weight: 300;
}
.plus-featured
{
    padding: 30px 0 20px;
}
.plus-featured h3
{
    font-weight: 300;
    font-size: 48px;
    margin-bottom: 40px;
    margin-top: 0;
}
.plus-featured .featured-item
{
    height: 200px;
    margin-bottom: 30px;
}
.plus-featured .icon-featured-change
{
    display: inline-block;
    width: 95px;
    height: 73px;
    background: url('../Images/bizweb-plus/icon-plus-change.png') no-repeat center center;
}
.plus-featured p.desc
{
    font-size: 16px;
    font-weight: 300;
}
.plus-featured .icon-featured-sercure
{
    display: inline-block;
    width: 86px;
    height: 73px;
    background: url('../Images/bizweb-plus/icon-plus-sercure.png') no-repeat center center;
}
.plus-featured .icon-featured-support
{
    display: inline-block;
    width: 62px;
    height: 73px;
    background: url('../Images/bizweb-plus/icon-plus-support.png') no-repeat center center;
}
.plus-featured .icon-featured-monopoly
{
    display: inline-block;
    width: 63px;
    height: 73px;
    background: url('../Images/bizweb-plus/icon-plus-monopoly.png') no-repeat center center;
}
.plus-featured .icon-featured-expert
{
    display: inline-block;
    width: 81px;
    height: 73px;
    background: url('../Images/bizweb-plus/icon-plus-expert.png') no-repeat center center;
}
.plus-featured .icon-featured-adjust
{
    display: inline-block;
    width: 72px;
    height: 73px;
    background: url('../Images/bizweb-plus/icon-plus-adjust.png') no-repeat center center;
}
.plus-bussiness
{
    background: url('../Images/bizweb-plus/bg-plus-bussiness.png') center center;
    padding: 30px 0;
}
.plus-bussiness h3
{
    font-size: 24px;
    font-weight: 300;
    color: #fff;
}
.plus-bussiness .bussiness-store
{
    line-height: 110px;
}
.plus-bussiness .bussiness-store:nth-of-type(2) img,
.plus-bussiness .bussiness-store:nth-of-type(3) img
{
    vertical-align: bottom;
}
.plus-registration
{
    padding: 30px 0 40px;
    color: #444;
    font-weight: 300;
}
.plus-registration h3
{
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 0;
}
.plus-registration p.desc
{
    font-size: 18px;
    margin-bottom: 10px;
}
.plus-registration p.price
{
    font-size: 30px;
    margin-bottom: 15px;
}
.btn-registration.btn-plus-registration
{
    background: #fbe106;
    color: #444;
    font-size: 24px;
    text-transform: none;
}
.btn-registration.btn-plus-registration:before
{
    background: #fbe106;
}
.btn-registration.btn-plus-registration:hover
{
    background: transparent;
}
#plus-operation-mode 
{
    padding-top: 90px;
}
.operation-intro
{
    background: url(../Images/bizweb-plus/bg-plus-reason.png) repeat-x center center;
    padding: 50px 0;
    color: #444;
}
.operation-intro h1
{
    font-weight: bold;
    font-size: 48px;    
    margin: 0 0 25px;
}
.operation-intro h3
{
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 0;
}
.operation-featured
{
    color: #444;
    padding: 40px 0 20px;
}
.operation-featured p.intro
{
    font-weight: 300;
    font-size: 30px;
}
.operation-featured p.intro span
{
    font-size: 18px;
    display: block;
    letter-spacing: 0.1em;
    margin: 15px 0 20px;
}
.operation-featured .featured-item
{
    margin-bottom: 20px;
}
.operation-featured .icon-operation-explore
{
    display: inline-block;
    background: url(../Images/bizweb-plus/icon-operation-explore.png) no-repeat center center;
    width: 72px;
    height: 73px;
}
.operation-featured .icon-operation-plan
{
    display: inline-block;
    background: url(../Images/bizweb-plus/icon-operation-plan.png) no-repeat center center;
    width: 68px;
    height: 73px;
}
.operation-featured .icon-operation-build
{
    display: inline-block;
    background: url(../Images/bizweb-plus/icon-operation-build.png) no-repeat center center;
    width: 73px;
    height: 73px;
}
.operation-featured .icon-operation-resource
{
    display: inline-block;
    background: url(../Images/bizweb-plus/icon-operation-resource.png) no-repeat center center;
    width: 73px;
    height: 73px;
}
.operation-featured h4
{
    font-size: 16px;
    font-weight: bold;
}
.operation-featured p.desc
{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
}
.operation-research
{
    background: url(../Images/bizweb-plus/bg-plus-bussiness.png) center center;
    padding: 40px 0 20px;
    color: #fff;
}
.operation-research p.intro
{
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}
.operation-research p.intro span
{
    display: block;
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 5px;
    letter-spacing: normal;
}
.operation-research .research-item
{
    margin-bottom: 20px;
}
.operation-research .icon-research-project-manager
{
    display: inline-block;
    background: url(../Images/bizweb-plus/icon-research-project-manager.png) no-repeat center center;
    width: 81px;
    height: 77px;
}
.operation-research .icon-research-account-manager
{
    display: inline-block;
    background: url(../Images/bizweb-plus/icon-research-account-manager.png) no-repeat center center;
    width: 81px;
    height: 77px;
}
.operation-research .icon-research-priority-support
{
    display: inline-block;
    background: url(../Images/bizweb-plus/icon-research-priority-support.png) no-repeat center center;
    width: 77px;
    height: 77px;
}
.operation-research p.desc
{
    font-size: 16px;
    font-weight: 300;
}
#plus-register
{
    padding-top: 90px;
    color: #444;
}
.plus-register-intro
{
    padding: 40px 0 30px;
    background: url(../Images/bizweb-plus/bg-plus-reason.png) repeat-x center center;
}
.plus-register-intro p.price
{
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 0;
}
.plus-register-intro p.discount
{
    font-weight: bold;
    font-size: 48px;
}
.plus-register-intro h1
{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin-top: 0;
}
.plus-register-form
{
    padding: 50px 0;
}
.plus-register-form .row
{
    margin-bottom: 15px;
}
.plus-register-form input[type="text"]
{
    width: 100%;
    border: 1px solid #cfcfcf;
    border-radius: 20px;
    font-size: 15px;
    padding: 0 15px;
    line-height: 40px;
    height: 40px;
    outline: none;
}
.plus-register-form select
{
    width: 100%;
    border: 1px solid #cfcfcf;
    border-radius: 20px;
    font-size: 15px;
    line-height: 40px;
    height: 40px;
    padding-left: 10px;
    outline: none;
}
.plus-register-form span
{
    display: inline-block;
    font-size: 15px;
    line-height: 40px;
    height: 40px;
}
.plus-register-form .key
{
    padding: 0 0;
}
.plus-register-form .value
{
    padding-right: 0;
}
.plus-register-form textarea
{
    width: 100%;
    border: 1px solid #cfcfcf;
    border-radius: 20px;
    height: 150px;
    padding: 15px;
    outline: none;
}
.plus-register-form .btn-registration.btn-plus-registration
{
    border: none;
    font-size: 14px;
    line-height: 40px;
    outline: none;
}
.plus-register-form .btn-registration.btn-plus-registration:hover
{
    background: #fbe106;
}
@media (max-width: 989px)
{
    .plus-reason h3
    {
        margin-top: 20px;
    }
    .fa-bars
    {
        color: #fff;
    }
}
@media (max-width: 767px)
{
    .plus-featured .featured-item
    {
        height: 160px;
    }

}
@media (max-width: 479px)
{
    #plus-index .index-banner h1
    {
        font-size: 50px;
        margin-top: 30px;
    }
    .bussiness-store img
    {
        max-width: 100%;
    }
    .plus-featured .featured-item
    {
        height: 220px;
    }
    .plus-reason h3
    {
        font-size: 30px;
    }
    .plus-reason h3 span
    {
        font-size: 24px;
    }
    .plus-featured h3
    {
        font-size: 30px;
        margin-top: 0;
    }
    .plus-registration h3
    {
        font-size: 30px;    
    }
    .plus-registration p.price
    {
        font-size: 25px;
    }
}
@media (max-width: 319px)
{
    .small-logo img
    {
        height: auto;
        width: 80px;
    }
    #header .btn-toggle
    {
        margin-right: 0;
    }
    #plus-index .index-banner h1
    {
        font-size: 35px;
        margin-top: 30px;
    }
    #plus-index .index-banner h3
    {
        font-size: 18px;
        line-height: 1.5em;
    }
    #plus-index .index-banner h3 span
    {
        margin-bottom: 30px;
        font-size: 16px;
    }
}